<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">WeekEnd&Sport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item dropdown" *ngIf="authService.isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Utilisateur
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/person" >Liste Utilisateur</a>
          <a class="dropdown-item" routerLink="/new-person">Inscription</a>

        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sport
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/sport">Liste Sport</a>
          <a class="dropdown-item" routerLink="/new-sport">Ajouter Sport</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownm" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lieu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/lieu">Liste Lieu</a>
          <a class="dropdown-item" routerLink="/new-lieu">Ajouter Lieu</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-light my-2 my-sm-0" type="submit" routerLink="/login">Login</button>
      <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="onLogout()">Deconnecter</button>

    </form>
  </div>
</nav>
<router-outlet>

</router-outlet>
